<div class="container" [formGroup]="form">
  <ng-container *ngIf="!this.isSuccess; else elseBlock">
    <p>Reset password</p>
    <div class="inputBox">
      <input type="password" (blur)="validateNewPassword()" formControlName="newPassword" id="password1" required />
      <label for="password1">New password</label>
    </div>
    <div *ngIf="this.form.get('newPassword')?.errors?.['passwordStrength']" [@appear] class="error">
      <li>Password must be between 6 and 100 characters.</li>
      <li>Password must have at least one special character.</li>
      <li>Password must have at least one lower case.</li>
      <li>Password must have at least one upper case.</li>
    </div>
    <div class="inputBox">
      <input type="password" (blur)="validateNewPassword()" formControlName="newPassword2" id="password2" required />
      <label for="password2">Confirm password</label>
    </div>
    <div [@appear] *ngIf="!this.model.areSame" class="error">
      Password are not the same.
    </div>
    <button (click)="saveChanges()" [disabled]="this.model.isLoading || this.form.invalid" [ngClass]="{ 'loading': this.model.isLoading }" class="btn btn-primary">Save changes</button>
  </ng-container>
  <ng-template #elseBlock>
    <p>Password has been successfully changed.</p>
  </ng-template>
</div>
