<div [formGroup]="form">
  <div class="inputBox">
    <input type="password" id="CurrentPassword" formControlName="currentPassword" required="required" />
    <label for="CurrentPassword">Current password</label>
  </div>
  <div class="inputBox">
    <input type="password" id="NewPassword" formControlName="newPassword" (blur)="validateNewPassword()" required="required" />
    <label for="NewPassword">New password</label>
  </div>
  <div class="inputBox">
    <input type="password" id="NewPasswordConfirmation" formControlName="newPassword2" (blur)="validateNewPassword()" required="required" />
    <label for="NewPasswordConfirmation">Confirm new password</label>
  </div>
  <button class="btn btn-primary" [ngClass]="{ 'loading': this.model.isLoading }" (click)="resetPassword()" [disabled]="!this.form.valid" type="submit">Save changes</button>
</div>
<div class="formValidationErrors">
  <div class="success" [@appear] *ngIf="this.model.isSuccess"><span>Password has been changed successfully.</span></div>
  <div [@appear] *ngIf="this.model.isIncorrect"><span>Incorrect password.</span></div>
  <div [@appear] *ngIf="this.form.get('newPassword')?.getError('passwordStrength')"><span>
    <li>Password must be between 6 and 100 characters.</li>
    <li>Password must have at least one special character.</li>
    <li>Password must have at least one lower case.</li>
    <li>Password must have at least one upper case.</li>
  </span></div>
  <div [@appear] *ngIf="!this.model.areSame"><span>New passwords are not the same.</span></div>
</div>
