<div class="container">
  <ng-container *ngIf="!this.isSuccess; else elseBlock">
    <p>Enter your email</p>
    <div class="inputBox">
      <input [formControl]="email" id="email" required />
      <label for="email">Email</label>
    </div>
    <button (click)="resend()" [disabled]="this.isLoading || this.email.invalid" [ngClass]="{ 'loading': this.isLoading }" class="btn btn-primary">Resend confirmation</button>
  </ng-container>
  <ng-template #elseBlock>
    <p>Confirmation of email was sent on your mail, if exists and all requirements has been completed.</p>
  </ng-template>
</div>
