.inputBox {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.inputBox input {
    width: 100%;
}

.inputBox + .error {
    margin-top: -1rem;
}

.error + .error {
    margin-top: .5rem;
}

.error + .btn {
    margin-top: 1.5rem;
}

.btn {
    width: 100%;
}
